.home {
    text-align: center;
    
} 
body {
    background-color: lightyellow;
    margin-top: 40px;
    
}
.links {
    display: flex;
    justify-content: center;
  

}

.links a {
    margin: 10px;
    text-decoration: none;
    color: rgb(0, 128, 0);
    font-weight: bold;
    font-size: 20px;
  }

  .mail-link {
    font-style: italic;
    color:green;
  }
img {
    width: 25%;
  height: auto;
}
h1{
    font-size: 34px;
}